body {
    margin: 0;
    justify-content: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;

}

#headIMG {
    width: 100%;
    overflow: hidden;
}

#headText {
    position: relative;
    font-size: 100px;
    color: white;
    top: -400px;

}
#headText span{
    font-weight:900;
    font-family:Arial, Helvetica, sans-serif;
}
#headText span span{
    font-weight:100;
}
form {

    position: relative;
    top: -350px;
    border-color: white;

}

fieldset {

    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: white;
    border-radius: 30px;
    border: none;
    box-shadow: 10px 10px 1000px 5px rgba(129, 129, 129, 0.541);

}

fieldset div div {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0px 5px 0px 5px;
}

input {
    height: 40px;
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.418);
}

textarea {
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.418);
}

#context {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    list-style-type: none;
    text-align: center;
    justify-content: center;

}

ul li {
    text-align: start;
}

h2 {
    color: red;
}
legend{
    font-size:50px;
}
#pc{
    font-size: 80px;
    margin-top:-200px;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
    #context {
        display: grid;
        grid-template-columns: 40% 40%;
        list-style-type: none;
        text-align: center;
        justify-content: center;

    }
    legend{
        font-size: 40px;
    }
    form {

        position: relative;
        top: -200px;
        border-color: white;

    }
    #headText {
        position: relative;
        font-size: 50px;
        color: white;
        top: -220px;

    }
    #headText span{
        font-weight:700;
        font-family:Arial, Helvetica, sans-serif;
    }
    #headText span span{
        font-weight:100;
    }
    #pc{
        font-size: 80px;
        margin-top:-100px;
    }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
    #headIMG {
        width: 435px;
        overflow: hidden;
    }
    #context {
        display: grid;
        grid-template-columns: 50%;
        list-style-type: none;
        text-align: center;
        justify-content: center;

    }
    legend{
        font-size: 30px;
    }
    form {

        position: relative;
        top: -50px;
        border-color: white;

    }
    #headText {
        position: relative;
        font-size: 20px;
        color: white;
        top: -110px;
        margin-left: 80px;
        
    }
    #headText span{
        font-weight:700;
        font-family:Arial, Helvetica, sans-serif;
    }
    #headText span span{
        font-weight:100;
    }
    #pc{
        font-size: 80px;
        margin-top:0px;
        margin-left: 50px;
    }
}